@import "normalize.css/normalize.css"; /* found in node_modules */

:root {
	--white: #fff;
	--black:  #000;
	--red:    #cb3d25;
	--orange: #f8b332;
}

html {
	background: var(--black);
	color: var(--white);
	font-size: 16px;
	line-height: 1.4;
}

body {
	margin: 0 auto;
	max-width: 480px;
	padding: 0 1rem;
}

header, section, footer {
	margin: 1.5em 0 3em;
}

footer {
	text-align: center;
	font-size: .85em;
}

h2 {
	margin: 0 0 .4em;
}

:focus {
	outline: none;
	border-color: var(--orange);
}

a, button {
	transition-property: outline, border-color, color;
	transition-duration: 150ms;
}

a {
	color: var(--orange);
	border: 1px dashed transparent;
}

a:active {
	color: var(--red);
	border-color: var(--red);
}

button, input {
	line-height: 1.8;
	border-radius: .3em;
	padding: 0 .8em;
	outline: none;
}

input {
	background: #000;
	border: 2px solid var(--red);
	color: var(--white);
}

button, input[type="submit"] {
	color: var(--orange);
}

address {
	display: inline-block;
	font-style: normal;
}

header {
	text-align: center;
}

.logo {
	display: inline-block;
	margin: 0 auto;
}

.logo img {
	max-width: 100%;
	height: auto;
}

nav > a {
	text-decoration: none;
	font-size: 1.7em;
	margin: 0 .4em;
}

nav > a.active {
	text-decoration: underline;
}

.contact {
	font-size: 1.1rem;
	text-align: center;
}

.contact [itemProp="telephone"] {
	display: block;
}

.hours {
	float: right;
	transform: translateY(-0.5rem); /* lines up with the address text */
	padding: .5rem 1rem;
	border: 1px solid var(--red);
	border-radius: .5rem;
}

.hours time {
	display: block;
}

[itemprop="hasMap"] {
	font-size: .65em;
}

.news a {
	display: inline-block;
	margin: .5em 0 1em;
}

.news nobr {
	display: block;
}

.source, .published {
	font-size: .75em;
}

.source {
	float: left;
	margin-right: 1em;
}

.published {
	float: right;
}
