@import "normalize.css/normalize.css"; /* found in node_modules */

:root {
	--white: #fff;
	--black:  #000;
	--red:    #cb3d25;
	--orange: #f8b332;
}

html {
	background: var(--black);
	color: var(--white);
	font-size: 16px;
}

body {
	margin: 0 auto;
	max-width: 480px;
	padding: 0 1rem;
}

main {
	margin: 2em 0 1em;
}

footer {
	margin: 2em auto;
	text-align: center;
	font-size: .85em;
}

:focus {
	outline: none;
	border-color: var(--orange);
}

a {
	color: var(--orange);
	border: 1px dashed transparent;
}

a:active {
	color: var(--red);
}

h1 {
	margin: .67em 0 .33em;
}

h2 {
	margin: .83em 0 .42em;
}

address {
	display: inline-block;
	font-style: normal;
}

button,
input {
	line-height: 1.8;
	border-radius: .3em;
	padding: 0 .8em;
}

button:focus,
input:focus {
	outline: none;
}

input {
	background: #000;
	border: 2px solid var(--red);
	color: var(--white);
}

button,
input[type="submit"] {
	color: var(--orange);
}

.logo {
	display: inline-block;
	margin: 0 auto;
}

.logo img {
	max-width: 100%;
	height: auto;
}

header {
	text-align: center;
}

nav > a {
	text-decoration: none;
	font-size: 1.7em;
	margin: 0 .4em;
}

nav > a.active {
	text-decoration: underline;
}

.contact {
	display: inline-block;
	margin: 2em auto;
	text-align: left;
	font-size: 1.1rem;
	line-height: 1.4;
}

.signup {
	margin: 0 0 3em;
}

.elsewhere {
	margin: 2rem 0 3rem;
}

a[itemprop="hasMap"] {
	font-size: .65em;
}
