{
	"extends": "stylelint-config-standard",
	"rules": {
		"declaration-colon-space-after": null,
		"indentation": "tab",
		"number-leading-zero": null,
		"selector-list-comma-newline-after": null,
		"comment-whitespace-inside": null
	}
}
